<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="panel panel-border info">
        <div class="panel__body">
          <form name="form" class="form padding-10" novalidate>
            <div class="form__field">
              <label class="field-label">Select Coin:</label>
              <div class="field-input">
                <select class="stretch" id="add_coin_select" data-ng-model="coin.name">
                  <option value="" disabled selected>Choose a Coin</option>
                  <option data-ng-show="!isEnabled('bitcoin')" value="bitcoin">Bitcoin</option>
                  <option data-ng-show="!isEnabled('litecoin')" value="litecoin">Litecoin</option>
                  <option data-ng-show="!isEnabled('monero')" value="monero">Monero</option>
                  <option data-ng-show="!isEnabled('zcash')" value="zcash">Zcash</option>
                </select>
              </div>
            </div>
            <div class="form__field">
                <label class="field-label">Wallet Address:</label>
                <div class="field-input"><input type="text" name="walletAddress" data-ng-model="coin.walletAddress" required=""/></div>
                <div ng-show="form.$submitted || form.walletAddress.$touched">
                  <div ng-show="form.walletAddress.$error.required">You must provide a wallet address.</div>
                </div>
            </div>

            <h2>Pooling Info:</h2>

            <div class="form__field">
                <label class="field-label">Server:</label>
                <div class="field-input"><input type="text" name="poolServer" data-ng-model="coin.poolServer" required=""/></div>
                <div ng-show="form.$submitted || form.walletAddress.$touched">
                  <div ng-show="form.walletAddress.$error.required">You must provide a pool address.</div>
                </div>
            </div>
            <div class="form__field">
                <label class="field-label">Username:</label>
                <div class="field-input"><input type="text" name="poolUsername" data-ng-model="coin.poolUsername" required=""/></div>
                <div ng-show="form.$submitted || form.walletAddress.$touched">
                  <div ng-show="form.walletAddress.$error.required">You must provide a pool username.</div>
                </div>
            </div>
            <div class="form__field">
                <label class="field-label">Password:</label>
                <div class="field-input"><input type="password" name="poolPassword" data-ng-model="coin.poolPassword" required=""/></div>
                <div ng-show="form.$submitted || form.walletAddress.$touched">
                  <div ng-show="form.walletAddress.$error.required">You must provide a pool password.</div>
                </div>
            </div>

            <div class="form__field">
                <button class="btn info" type="submit" data-ng-click="addCoin(coin)">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
