<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Add Coin
        </div>
        <div class="image content">
          <div class="ui medium image">
            <img src="../DynamineIcon.png">
          </div>
          <div class="description">
           <!-- Content for coin information needed -->
           <div class="ui  two fields">
                <div class="eight wide  field">
                    <label>Input Coin</label>
                    <input name="coinname" type="text" placeholder="Ex:Bitcoin">
                </div>
                <div class="eight wide field">
                    <label>Wallet Address</label>
                    <input name="wallet" type="text" placeholder="*******">
                </div>
            </div>
            <div class="ui  two fields">
                <div class="eight wide field">
                    <label>Server</label>
                    <input name="server" type="text" placeholder="Dynamine Pool">
                </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Exit
          </div>
          <div class="ui positive right labeled icon button">
            Confirm Coin Addition
            <i class="checkmark icon"></i>
          </div>
        </div>
</div>