<div class="container">

<div class="row">
<div class="col md-8">
    <div class="panel panel-border info">
        <div class="panel__heading">Node Status
            <span class="right refresh" data-ng-click="refreshStatus('true')"><i class="material-icons md-17">autorenew</i></span>
        </div>
        <div class="panel__body"><canvas id="clusterStatChart" height="100"></canvas></div>
    </div><!-- .panel.panel-border.info -->
</div>

<div class="col md-4">
    <div class="panel panel-border info">
        <div class="panel__heading">Mining Pool
            <span class="right refresh" data-ng-click="refreshTimer()"><i class="material-icons md-17">autorenew</i></span>
        </div>
        <div class="panel__body">
            <div class="vpadding-10"><canvas id="timersChart" height="194"></canvas></div>
        </div>
    </div><!-- .panel.panel-border.info -->
</div>
</div><!-- .row -->

<div class="row">
<div class="col md-5">
    <div class="panel panel-border info">
    <div class="panel__heading">Gateway</div>
    <div class="panel__body">
        <dl class="horizontal"><dt>Host Name</dt><dd>: {{dynamineStat.hostname}}</dd></dl>
        <dl class="horizontal"><dt>Tag Line</dt><dd>: {{dynamineStat.tagline}}</dd></dl>
        <dl class="horizontal"><dt>Database</dt><dd>: {{dynamineStat.configuration.database}}</dd></dl>
        <dl class="horizontal"><dt>DNS Resolver</dt><dd>: {{dynamineStat.configuration.dns_resolver.address || 'NA'}}</dd></dl>
        <dl class="horizontal"><dt>Gateway Version</dt><dd>: {{dynamineStat.version}}</dd></dl>
        <dl class="horizontal"><dt>Lua Version </dt><dd>: {{dynamineStat.lua_version}}</dd></dl>
    </div>
    </div>
</div>

<div class="col md-3">
    <div class="panel panel-border info">
    <div class="panel__heading">Cluster</div>
    <div class="panel__body">
        <dl class="horizontal"><dt>Listen</dt><dd>: {{dynamineStat.configuration.cluster_listen}}</dd></dl>
        <dl class="horizontal"><dt>Profile</dt><dd>: {{dynamineStat.configuration.cluster_profile}}</dd></dl>
        <dl class="horizontal"><dt>TTL</dt><dd>: {{dynamineStat.configuration.cluster_ttl_on_failure}}</dd></dl>
    </div>
    </div>
</div>

<div class="col md-4">
    <div class="panel panel-border info">
    <div class="panel__heading">Ports</div>
    <div class="panel__body">
        <dl class="horizontal"><dt>Proxy Default</dt><dd>: {{dynamineStat.configuration.proxy_port || 'NA'}}</dd></dl>
        <dl class="horizontal"><dt>Proxy SSL</dt><dd>: {{dynamineStat.configuration.proxy_ssl_port || 'NA'}}</dd></dl>
        <dl class="horizontal"><dt>Admin Default</dt><dd>: {{dynamineStat.configuration.admin_port || 'NA'}}</dd></dl>
        <dl class="horizontal"><dt>Admin SSL</dt><dd>: {{dynamineStat.configuration.admin_ssl_port || 'NA'}}</dd></dl>
    </div>
    </div>
</div>
</div><!-- .row -->
</div><!-- .container -->