<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>Dynamine</title>


<link rel="stylesheet" type="text/css" href="../css/roboto.css" />
<link rel="stylesheet" type="text/css" href="../css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="../css/animations.css" /> 
<link rel="stylesheet" type="text/css" href="../css/layout.css" />
<link rel="stylesheet" type="text/css" href="../css/default-dark-theme.css" />
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
</head>
<body class="body">

<div class="app-layout hidden">
    <div class="ui left demo vertical inverted visible sidebar labeled icon menu">
        <a class="item" data-ng-href="#!/">
           <img src="../DynamineIcon.png" />        
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="plus square icon"></i>
            Add Coin
        </a>
        <a class="item">
            <img src="../CryptoIcons/Bitcoin-Icon.jpg" />  
            Bitcoin
        </a>
        <a class="item">
            <img src="../CryptoIcons/LiteCoin-Icon.png" />  
            LiteCoin
        </a>
        <a class="item">
            <img src="../CryptoIcons/Minero-Icon.png" />   
            Minero
        </a>
        <a class="item">
            <img src="../CryptoIcons/Zcash-Icon.jpg" />  
            ZCash
        </a>
        <!--Possible More Coins can be added -->
    </div>


 

</div>


<script type="text/javascript">
 if (typeof module === 'object') {
     window.module = module;
     module = undefined;
}

 const {ipcRenderer} = require('electron');
 var kongConfig    = ipcRenderer.sendSync('get-config', 'kong');
 var appConfig     = ipcRenderer.sendSync('get-config', 'app');

 var ngDependency  = ['ngRoute'];
</script>


<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-route.min.js"></script>
<script type="text/javascript" src="../js/angular-animate.min.js"></script>
<script type="text/javascript" src="../js/angular-base64.min.js"></script>
<script type="text/javascript" src="../scripts/kongdash-app.js"></script>
<script type="text/javascript" src="../js/Chart.bundle.min.js"></script>

<script type="text/javascript" src="../scripts/app-index.js"></script>

<script type="text/javascript" src="../controllers/header.js"></script>
<script type="text/javascript" src="../controllers/footer.js"></script>
<script type="text/javascript" src="../controllers/dashboard.js"></script>
<script type="text/javascript" src="../controllers/api-list.js"></script>
<script type="text/javascript" src="../controllers/api-edit.js"></script>
<script type="text/javascript" src="../controllers/plugin-edit.js"></script>
<script type="text/javascript" src="../controllers/consumer-list.js"></script>
<script type="text/javascript" src="../controllers/consumer-edit.js"></script>
<script type="text/javascript" src="../controllers/plugin-list.js"></script>
<script type="text/javascript" src="../controllers/cluster-list.js"></script>
<script type="text/javascript" src="../controllers/certificate-list.js"></script>
<script type="text/javascript" src="../controllers/certificate-edit.js"></script>
<script type="text/javascript" src="../controllers/upstream-list.js"></script>
<script type="text/javascript" src="../controllers/upstream-edit.js"></script>
<script type="text/javascript" src="../controllers/settings.js"></script>

<script type="text/javascript">
(function (angular) {
    angular.element('.app-layout').fadeIn({ duration: 1000 });
})(window.angular);
</script>
</body>
</html>
