

<div class="container" data-ng-controller="TabController as tabs">
      <div class="row">
          <button class="btn col md-6 square" data-ng-class="{success:tabs.isSelected(1), default:!tabs.isSelected(1) }" data-ng-click="tabs.selectTab(1)">
            Stats
          </button>
          <button class="btn col md-6 square default" data-ng-class="{success:tabs.isSelected(2), default:!tabs.isSelected(2) }" data-ng-click="tabs.selectTab(2)">
            Resources
          </button>
      </div>

      <div data-ng-show="tabs.isSelected(1)">
        <div class="row">
        <div class="col md-6">
            <div class="panel panel-border info">
                <div class="panel__heading">Wallet Coins
                    <span class="right refresh" data-ng-click="refreshWalletTokens()"><i class="material-icons md-17">autorenew</i></span>
                </div>
                <div class="panel__body"><canvas id="LitecoinWalletChart" height="140"></canvas></div>
            </div><!-- .panel.panel-border.info -->
        </div>

        <div class="col md-6">
            <div class="panel panel-border info">
                <div class="panel__heading">Hash Rate
                    <span class="right refresh" data-ng-click="refreshHashRate()"><i class="material-icons md-17">autorenew</i></span>
                </div>
                <div class="panel__body">
                    <div class="vpadding-10"><canvas id="LitecoinHashChart" height="140"></canvas></div>
                </div>
            </div><!-- .panel.panel-border.info -->
        </div>
        </div><!-- .row -->

        <div class="row">
        <div class="col md-3">
            <div class="panel panel-border info">
            <div class="panel__heading">Wallet Income</div>
            <div class="panel__body">
              <dl class="horizontal" data-ng-show="walletBalance"><dt>Wallet Balance: </dt><dd>{{ walletBalance }}</dd></dl>
              <dl class="horizontal" data-ng-repeat="transaction in walletTransactions track by $index"><dt style="padding: 5px;"><div data-ng-show="{{$index == 0}}">Wallet Income: </div></dt><dd>+{{ transaction }} LTC</dd></dl>
            </div>
            </div>
        </div>

        <div class="col md-5">
            <div class="panel panel-border info">
            <div class="panel__body">
                <dl class="horizontal" data-ng-show="coinController.getPoolHost(coinName)"><dt>Pool Domain: </dt><dd>{{ coinController.getPoolHost(coinName) }}</dd></dl>
                <dl class="horizontal"><dt>Wallet Address:</dt><dd>{{ coinController.getWalletAddress(coinName) }}</dd></dl>
            </div>
            </div>
        </div>

        <div class="col md-4" data-ng-show="coinController.coinHasAllocatedResources(coinName)">
            <div class="panel panel-border info">
              <div class="panel__heading">Current Hash Rates:</div>
              <div class="panel__body">
                  <dl data-ng-repeat="resource in coinController.resources" data-ng-show="coinController.resourceChecked(coinName, resource)" class="horizontal"><dt>{{ coinController.formatResourceName(resource.name) }}:</dt><dd>{{ resource.hashRate }}mh/s</dd></dl>
              </div>
            </div>
        </div>
      </div><!-- .row -->
    </div>

    <!-- Begin Resource Allocation Page -->
    <div  data-ng-show="tabs.isSelected(2)">
      <div class="row">
        <div class="col md-8">
          <div class="panel panel-border info">
            <div class="panel__heading">[{{ coinController.getDaemonHost() }}] Allocate GPUs</div>
            <div class="panel__body align-left">
              <div class="padding-10" data-ng-repeat="resource in coinController.resources"><label class="checkbox success"><input id="{{ resource.name }}" data-ng-checked="coinController.resourceChecked(coinName, resource)" data-ng-click="coinController.allocateResource(coinName, resource, this)" type="checkbox"><span class="pad-left-10">{{ coinController.formatResourceName(resource.name) }}</span><span data-ng-show="resource.allocated"> - allocated to {{ resource.coin }}</span></label></div>
            </div>
          </div>
        </div>
      </div> <!-- .row-->

      <div class="row" data-ng-controller="RemoveCoinController">
        <div class="col md-2">
          <button class="btn danger" data-ng-click="removeCoin('litecoin')">Remove Coin</button>
        </div>
      </div>
    </div>
</div><!-- .container -->
