<div class="container">

    <div class="row">
    <div class="col md-8">
        <div class="panel panel-border info">
            <div class="panel__heading">Wallet Tokens
                <span class="right refresh" data-ng-click="refreshStatus('true')"><i class="material-icons md-17">autorenew</i></span>
            </div>
            <div class="panel__body"><canvas id="MineroWalletChart" height="100"></canvas></div>
        </div><!-- .panel.panel-border.info -->
    </div>

    <div class="col md-4">
        <div class="panel panel-border info">
            <div class="panel__heading">Hash Rate
                <span class="right refresh" data-ng-click="refreshTimer()"><i class="material-icons md-17">autorenew</i></span>
            </div>
            <div class="panel__body">
                <div class="vpadding-10"><canvas id="MinerHashChart" height="194"></canvas></div>
            </div>
        </div><!-- .panel.panel-border.info -->
    </div>
    </div><!-- .row -->

    <div class="row">
    <div class="col md-5">
        <div class="panel panel-border info">
        <div class="panel__heading">Prize</div>
        <div class="panel__body">
            <!-- <dl class="horizontal"><dt>Host Name</dt><dd>: {{dynamineStat.hostname || 'localhost'}}</dd></dl> -->
            <dl class="horizontal"><dd>+ 0.4 Minero</dd></dl>
            <dl class="horizontal"><dd>+ 1.2 Minero</dd></dl>
            <dl class="horizontal"><dd>+ 2.0 Minero</dd></dl>
        </div>
        </div>
    </div>

    <div class="col md-3">
        <div class="panel panel-border info">
        <div class="panel__heading">Wallet Tokens</div>
        <div class="panel__body">
            <dl class="horizontal"><dt>Totals: </dt><dd>: 12 coins</dd></dl> <!-- TODO: change Dyanmine config to include the following items-->
            <dl class="horizontal"><dt>Algorithm</dt><dd>: SHA 256</dd></dl>

        </div>
        </div>
    </div>

    </div><!-- .row -->
    </div><!-- .container -->
