.spinner {
    border: 16px solid #636363; /* Background color */
    border-top: 16px solid #35B8E0; /* Foreground color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
