<html data-ng-app="Dynamine" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>Dynamine</title>

<link rel="stylesheet" type="text/css" href="css/roboto.css" />
<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="css/animations.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/default-dark-theme.css" />
<link rel="stylesheet" type="text/css" href="css/MoneroCoin.css" />
<link rel="stylesheet" type="text/css" href="css/modal.css" />
<link rel="stylesheet" type="text/css" href="css/spinner.css" />

<!--Material Components-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

</head>
<body class="body">

<div id="app-main" class="app-layout hidden">
<aside class="drawer" data-ng-controller="EnabledCoinsController as coins">
    <div class="icon"><div>Dynamine</div></div>
    <nav class="navigation">
        <a class="navigation__link active" data-ng-href="#!/"><p><i class="material-icons">add_circle</i></p><p>Add Coin</p></a>
        <a class="navigation__link" data-ng-show="coins.isEnabled('bitcoin')" data-ng-href="#!/bitcoin"><p><img src="images/Bitcoin-icon.png" ></img></p> <p>Bitcoin</p></a>
        <a class="navigation__link" data-ng-show="coins.isEnabled('litecoin')" data-ng-href="#!/litecoin"><p><img src="images/Litecoin-icon.png" ></img></p><p>Litecoin</p></a>
        <a class="navigation__link" data-ng-show="coins.isEnabled('monero')" data-ng-href="#!/monero"><p><img src="images/Monero-icon.png" ></img></p> <p>Monero</p></a>
        <a class="navigation__link" data-ng-show="coins.isEnabled('zcash')" data-ng-href="#!/zcash"><p><img src="images/Zcash-icon.png" ></img></p><p>Zcash</p></a>
        <a class="navigation__link" data-ng-href="#!/settings"><p><i class="material-icons">settings</i></p><p>Settings</p></a>
    </nav><!-- .navigation -->
</aside>

<main class="content">
    <header class="content__header" data-ng-controller="HeaderController">
        <span class="navigate" data-ng-if="viewFactory.prevUrl">
            <a href="{{viewFactory.prevUrl}}" title="Previous"><i class="material-icons">keyboard_arrow_left</i></a>
        </span>
        <span class="title">{{viewFactory.title}}</span>
        <div class="actions">
            <button data-ng-if="viewFactory.deleteAction" data-target="{{viewFactory.deleteAction.target}}" data-url="{{viewFactory.deleteAction.url}}" data-redirect="{{viewFactory.deleteAction.redirect || viewFactory.prevUrl}}" type="button" class="btn danger delete">Delete</button>
        </div>
    </header>
    <section class="content__wrapper {{$root.ngViewAnimation}}" data-ng-view="">Temp</section>
    <footer class="footer" data-ng-controller="FooterController">
        <div id="staticMessage" class="pull-left hpadding-20"></div>
        <div class="pull-right hpadding-20">{{viewFactory.host | stripProtocol}}</div>
    </footer>
</main>
</div>

<!--Modal For Start/Stop Daemon-->
<div id="coinActionModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content panel panel-border info">
   <h2 class="modal-center" id="coinActionModalText"></h2>
   <div class="spinner modal-center"></div>
  </div>
</div>

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

const {ipcRenderer} = require('electron');
var dynamineConfig    = ipcRenderer.sendSync('get-config', 'dynamine');
var appConfig     = ipcRenderer.sendSync('get-config', 'app');

var ngDependency  = ['ngRoute', 'ngMaterial'];
</script>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-base64.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<script type="text/javascript" src="scripts/dynamine-app.js"></script>
<script type="text/javascript" src="js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="scripts/app-index.js"></script>

<!--Loading our services-->
<script type="text/javascript" src="services/dynamine-config.js"></script>
<script type="text/javascript" src="services/modal.js"></script>
<script type="text/javascript" src="services/coin-metrics.js"></script>
<script type="text/javascript" src="services/control-daemon.js"></script>
<script type="text/javascript" src="services/bitcoin-wallet.js"></script>
<script type="text/javascript" src="services/litecoin-wallet.js"></script>
<script type="text/javascript" src="services/zcash-wallet.js"></script>
<script type="text/javascript" src="services/coin-controller.js"></script>

<!--Loading our controllers-->
<script type="text/javascript" src="controllers/header.js"></script>
<script type="text/javascript" src="controllers/footer.js"></script>
<script type="text/javascript" src="controllers/add-coin.js"></script>
<script type="text/javascript" src="controllers/remove-coin.js"></script>
<script type="text/javascript" src="controllers/tab-controller.js"></script>
<script type="text/javascript" src="controllers/enabled-coins.js"></script>
<script type="text/javascript" src="controllers/bitcoin.js"></script>
<script type="text/javascript" src="controllers/litecoin.js"></script>
<script type="text/javascript" src="controllers/monero.js"></script>
<script type="text/javascript" src="controllers/zcash.js"></script>
<script type="text/javascript" src="controllers/settings.js"></script>

<script type="text/javascript">
(function (angular) {
    angular.element('.app-layout').fadeIn({ duration: 1000 });
})(window.angular);
</script>

<script>
  window.onbeforeunload = function(event) {
    // stopping miners and closing connection
    let daemon = angular.element('html').injector().get('daemon');
    let config = angular.element('html').injector().get('dynamineConfig');
    let resources = config.getResources();
    for(let i = 0; i < resources.length; i++) {
      if (resources[i].allocated) {
        daemon.stopCoin(resources[i].name);
      }
    }
    daemon.disconnect();
  }
</script>
</body>
</html>
